@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --orange: #f57f17;
    --black: #1c1c1c;
    --gray: #fafafa;
    --light-orange: #ffb74d;
    --dark-orange: #c45500;
    --light-gray: #f5f5f5;
    --dark-gray: #808080;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #000000;
    color: var(--gray);
}

nav{
    position: fixed; /*Remover caso de erro*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    top: 0; /*Remover caso de erro*/
    z-index: 999;
}

nav.transparent-nav{
    background-color: #fafafa10;
    backdrop-filter: blur(10px);
}


.logo h1{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
    color: var(--light-gray);
}

.logo span{
    color: var(--orange);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-right: 2rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--orange);
    cursor: pointer;
    transition: .5s all;
}

nav ul li a:hover{
    color: var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}

main{
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.main__section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #000);
    width: 100%;
    height: 100vh;
}

.background__img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.background__text h1{
    font-size: 4.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--orange);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background__text h1 span{
    font-size: 5rem;
    color: var(--dark-orange);
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background__text p{
    margin-top: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 6rem;
}

.menu__btn-group{
    display: flex;
    text-align: center;
    gap: 5rem;
}

.btn-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    text-shadow: 1px 1px 3px var(--light-orange);
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    border-radius: 15px;
    transition: .5s all;
}

.btn-menu:hover{
    border-radius: none;
    background-color: var(--orange);
    color: var(--light-gray);
    text-shadow: 1px 1px 3px #000;
}

.btn-food{
    color: #000;
    text-shadow: 1px 1px 3px #000;
    background-color: var(--orange);
}

.food__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 4rem;
}

.title-category{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--orange);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 3rem;
}

.img_menu{
    border-radius: .75rem;
    box-shadow: 0 1rem 2rem 0.1rem #f57f173b;
    object-fit: cover;
    object-position: top;
    position: relative;
    max-height: 25rem;
    width: 25rem;
    margin-bottom: 2rem;
}

.menu__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.text-container .price{
    font-size: 2rem;
    font-weight: bold;
    color: var(--orange);
    text-shadow: 1px 1px 3px var(--light-orange);
    margin-bottom: 0.5rem;
}

.text-container h1{
    color: var(--orange);
    margin-bottom: 0.5rem;
}

.text-container p{
    color: var(--dark-gray);
    margin-bottom: 0.5rem;
}
